<div class="row">
  <div class="col-9 mx-auto">
    <div class="row">
      <form [formGroup]="genderForm">
        <label for="gender" class="me-2">Filter by gender:</label>
        <select
          id="gender"
          class="form-select"
          aria-label="Select gender filter"
          formControlName="gender"
        >
          <option value="all" selected>All</option>
          <option value="female">Female</option>
          <option value="male">Male</option>
        </select>
      </form>
    </div>
    <div class="row">
      <div *ngIf="users?.length === 0; else elseUsersLength">
        <p>No users found.</p>
      </div>
      <ng-template #elseUsersLength>
        <ul class="list-unstyled">
          <li *ngFor="let user of filteredUsers">
            <app-user-card-item [user]="user"></app-user-card-item>
          </li>
        </ul>
      </ng-template>
    </div>
  </div>
</div>
